.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo svg {
  width: 65px;
  height: 65px;
}

.changeTheme,
.logo {
  margin-right: 20px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}